/** @format */

body {
	margin: 0 auto;
	width: 1170px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(0deg, #ffb6c1, #ffffff);
}
a {
	text-decoration: none;
}
ul li {
	list-style: none;
}
.toDoApp {
	width: 737px;
	height: auto;
	background-color: white;
	border-radius: 15px;
	padding-left: 50px;
	h1 {
		margin-bottom: 20px;
		padding-top: 75px;
		font-size: 45px;
	}
	&_input {
		font-size: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		width: 590px;
		border-radius: 10px;
	}
	&_add {
		padding: 0px;
		font-size: 25px;
		width: 67px;
		height: 67px;
		border-radius: 10px;
		background-color: #b487f0;
		color: aliceblue;
		opacity: 0.6;
		pointer-events: none;
	}
	&_add.active {
		// background-color: #e44b93;
		opacity: 1;
		pointer-events: auto;
	}
	&_list {
		margin-left: -40px;
		max-height: 250px;
		overflow-y: auto;
	}
	&_list li {
		height: 45px;
		line-height: 45px;
		padding-left: 20px;
		position: relative;
		background-color: rgb(238, 240, 241);
		border-radius: 10px;
		margin-bottom: 8px;
		width: 685px;
		cursor: default;
		overflow: hidden;
		font-size: 20px;
		span {
			position: absolute;
			right: -50px;
			background-color: red;
			color: black;
			width: 45px;
			text-align: center;
			border-radius: 0px 5px 5px 0px;
			cursor: pointer;
			transition: 0.5s;
			font-size: 20px;
		}
	}
	&_list li:hover span {
		right: 0px;
	}
	&_dem {
		padding-bottom: 60px;
	}
	&_text {
		font-size: 25px;
		margin-right: 113px;
		display: inline-block;
		width: 400px;
		letter-spacing: 0.5px;
		word-spacing: 2px;
	}
	&_clearAll {
		width: 170px;
		height: 75px;
		font-size: 25px;
		border-radius: 10px;
		background-color: #b487f0;
		color: aliceblue;
	}
	&_clearAll:hover {
		background-color: #e44b93;
	}
}
